@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.checkbox {
  appearance: none;
  border-radius: 4px;
  background-color: white;
  border: 2px solid #0C9281;
  margin-right: 10px;
}

.checkbox:checked {

  background-color: #0C9281;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked::before {
  content: '\2713';
  font-size: 18px;
  font: bold;
  color: white;
}