@keyframes ldio-nthurrjb8b-o {
    0% {
      opacity: 1;
      transform: translate(0 0);
    }
    49.99% {
      opacity: 1;
      transform: translate(56.4px, 0);
    }
    50% {
      opacity: 0;
      transform: translate(56.4px, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 0);
    }
  }

@keyframes ldio-nthurrjb8b {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(56.4px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.ldio-nthurrjb8b div {
    position: absolute;
    width: 56.4px;
    height: 56.4px;
    border-radius: 50%;
    top: 42.3px;
    left: 14.1px;
}

.ldio-nthurrjb8b div:nth-child(1) {
    background: #2e8c7e;
    animation: ldio-nthurrjb8b 1s linear infinite;
    animation-delay: -0.5s;
}

.ldio-nthurrjb8b div:nth-child(2) {
    background: #ffffff;
    animation: ldio-nthurrjb8b 1s linear infinite;
    animation-delay: 0s;
}

.ldio-nthurrjb8b div:nth-child(3) {
    background: #2e8c7e;
    animation: ldio-nthurrjb8b-o 1s linear infinite;
    animation-delay: -0.5s;
}

.loadingio-spinner-dual-ball-mw2iooyal2h {
    width: 141px;
    height: 141px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-nthurrjb8b {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-nthurrjb8b div {
    box-sizing: content-box;
}