.checkbox {
  appearance: none;
  border-radius: 8px;
  background-color: white;
  border: 2px solid #0C9281;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox:checked {

  background-color: #0C9281;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked::before {
  content: '\2713';
  font-size: 20px;
  font: bold;
  color: white;
}

.background {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;

}